.todo {
    max-width: 750px;
    margin: 50px auto;
    border-radius: 10px 10px 0 0;
    border: 1px solid #cc9a9a;
  }

  .todo__heading {
    background-color: #cc9a9a;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px 10px 0 0;
  }

  .todo__input {
    display: flex;
    align-items: center;
  }

  .todo__input-field {
    width: 95%;
    padding: 0 10px 0 10px;
    font-size: 20px;
    outline: none;
    border: none;
  }

  .todo__btns {
    background-color: #0f6a75;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todo__btns button {
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 3px 12px;
    font-size: 15px;
    color: white;
    font-weight: 500;
  }

  .todo__complete {
    background-color: #00adb3;
    position: relative;
    overflow: hidden;
  }

  .todo__complete::before {
    content: "";
    position: absolute;
    background-color: #039398;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    transition: left 0.3s ease;
    z-index: 0;
  }

  .todo__complete span {
    position: relative;
    z-index: 1;
  }

  .todo__complete:hover::before {
    left: 0;
  }

  .todo__delete {
    background-color: #d20505;
    position: relative;
    overflow: hidden;
  }

  .todo__delete::before {
    content: "";
    position: absolute;
    background-color: #a60202;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    transition: right 0.3s ease;
    z-index: 0;
  }

  .todo__delete span {
    position: relative;
    z-index: 1;
  }

  .todo__delete:hover::before {
    right: 0;
  }

  .todo__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    font-size: 20px;
    padding: 10px;
    background-color: #599959;
  }

  .todo__logo:hover {
    cursor: pointer;
    background-color: #1d6d1d;
  }

  .todo__list {
    list-style: none;
    margin: 0;
    padding: 15px;
    background-color: #4271c9;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .no-data {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .todo__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todo__list-task {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .todo__list-task-check {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .todo__list-task-check i {
    color: black;
  }

  .todo__list-task-check:hover {
    cursor: pointer;
  }

  .todo__list-task-name {
    font-size: 18px;
    font-weight: 600;
    color: white;
  }

  .todo__list-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .fa-solid {
    color: white;
  }

  .fa-solid:hover {
    cursor: pointer;
  }

  .fa-pen-to-square:hover {
    color: #efff00;
  }

  .fa-trash:hover {
    color: #d20505;
  }

  .popup__container {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }

  .todo__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  .todo__popup p {
    font-size: 25px;
    text-align: center;
  }

  .todo__popup form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .popup__task,
  .popup__status {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .popup__task input {
    width: 500px;
    border: 1px solid black;
  }

  .popup__status-options {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .popup__status-options > label:hover,
  .popup__status-options > input:hover {
    cursor: pointer;
  }

  .popup__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .popup__btns button {
    outline: none;
    border: none;
    padding: 3px 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    color: white;
  }

  .popup__submit {
    background-color: #00adb3;
  }

  .popup__submit:hover {
    background-color: #039398;
    transition: 0.3s ease-in-out;
  }

  .popup__cancel {
    background-color: #d20505;
  }

  .popup__cancel:hover {
    background-color: #a60202;
    transition: 0.3s ease-in-out;
  }