<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="module" src="/static/js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>TODO-App</title>
  </head>
  <body>
    <div class="todo">
      <div class="todo__heading">Daily Todo Lists</div>
      <div class="todo__input">
        <input
          type="text"
          name="todo"
          id="todo"
          class="todo__input-field"
          placeholder="Enter New Task"
        />
        <div class="todo__logo">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="todo__btns">
        <button class="todo__complete"><span>Complete All</span></button>
        <button class="todo__delete"><span>Delete All</span></button>
      </div>
      {{if gt (len .) 0}}
      <ul class="todo__list">
        {{range .}}
        <li class="todo__list-item">
          <div class="todo__list-task">
            <div class="todo__list-task-check" id="{{.Status}}-{{.ID}}">
              {{if eq .Status "COMPLETED"}}
              <i class="fa-solid fa-check" id="{{.Status}}-{{.ID}}-check"></i>
              {{end}}
            </div>
            <span class="todo__list-task-name">{{.Task}}</span>
          </div>
          <div class="todo__list-icons">
            <i class="fa-solid fa-pen-to-square" id="EDIT-{{.ID}}"></i>
            <i class="fa-solid fa-trash" id="DELETE-{{.ID}}"></i>
          </div>
        </li>
        {{end}}
      </ul>
      {{else}}
      <div class="todo__list no-data">No data to show</div>
      {{end}}
    </div>
    <div class="popup__container">
      <div class="todo__popup">
        <p>Edit Task</p>
        <div>
          <form onsubmit="handleEdit(event)">
            <label for="editTask" class="popup__task">
              Task Name:
              <input
                type="text"
                name="editTask"
                id="editTask"
                class="todo__input-field"
              />
            </label>
            <div class="popup__status">
              Task Status:
              <div class="popup__status-options">
                <label for="pending">
                  <input
                    type="radio"
                    name="status"
                    id="pending"
                    value="PENDING"
                  />
                  Pending
                </label>
                <label for="completed">
                  <input
                    type="radio"
                    name="status"
                    id="completed"
                    value="COMPLETED"
                  />
                  Completed
                </label>
              </div>
            </div>
            <div class="popup__btns">
              <button type="submit" class="popup__submit">Submit</button>
              <button
                type="button"
                class="popup__cancel"
                onclick="closePopup()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
